body {
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.97);
}

nav ul {
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav li {
  background-color: lightblue;
  padding: 8px;
  border-radius: 4px;
  list-style: none;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#skills {
  background-color: lightblue;
  border: 1px solid blue;
  border-radius: 4px;
}

#skills li {
  list-style: decimal;
}

#education {
  background-color: lightblue;
  border: 1px solid blue;
  border-radius: 4px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
